body {
    padding: 10px
}

.loginform input {
    border: 1px solid #ccc;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.main-container{

  display: flex;
  flex-direction: row;
}

.navigation-container{
  display: flex;
  flex-direction: row;
  margin-right: 5vw;
}


.navigation-container ul{
  border: 1px solid black;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vw;

}

.navigation-container li{

  padding: 2.5vh 0 2.5vh 0;

}
.navigation-container a{
  text-decoration: none;

}

.content-quickstats{
  display: flex;
  flex-direction: row;
}

.content-quickstats .stat-item{
  margin:2.5vh 5vw 0 0;
}

.shortcut-menu{
  display: flex;
  flex-direction: column;
}

.shortcut-menu .menu-row{
  display: flex;
  flex-direction: row;
}

.menu-row .menu-item{

  text-align: center;
  padding: 1.25vh;
  margin:1.2vh 1.2vh 0 0;
  border: 1px solid black;
  width: 20vw;

}

.profile-container{

  display: flex;
  flex-direction: row;

}


.profile-container p{

  padding: .75vw .75vw 0 0 ;

}
.content-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 60vw;


}

.searchbar{
  /* border: 1px solid rgb(44, 1, 105); */

  position:relative;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  right:0;
}



.resident-container{

  display: flex;
  flex-direction: column;
   

}

.resident-header{

  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  justify-content: space-between;

  width: 60vw;

}

.request-header{

  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: space-between;

  width: 60vw;

}

.resident-detail{

  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 80%;

}


.request-details-box{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid black; */

}

.request-detail{

  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;

}

.request-status-container{

  display: flex;
  
  justify-content: center;
  /* border: 1px solid black; */

}


.request-status-switcher{

  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 1vh;
  margin: 1vb;
}

.request-status-container div{

  width: 50%;
  /* border: 1px solid rgb(145, 27, 27); */

}

.request-details-box div{

  /* border: 1px solid rgb(145, 27, 27); */

}

.document-detail{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;

}


.document-detail #close-button{

  display: flex;
  align-items: center;
  padding: 2vh;

   border: 1px solid rgb(150, 21, 21);

}


.approval-container{

  margin: auto;
  padding: .5vw;

}

.approval-container button{

  margin: auto;
  padding: 1.5vw;
  cursor: pointer;

  /* border:1px solid black; */
  
}

.resident-table-container{

  border: 1px solid black;
  height: 60vh;

}


.request-table-container{

  border: 1px solid rgb(110, 0, 0);
  min-height: 20vh;

}


.request-table-container table{

  width: 100%;
  height: auto;
 
 
 }

 .request-table-container td {

  margin:auto;
  padding: 1vh 1vh;
  border: 1px solid black;
 }


 
 .request-table-container thead{

  border: 1px solid black;

}


.request-table-container th{

  border: 1px solid black;

}
 
.request-table-container tbody tr td {
  cursor: pointer;
}
 

.resident-table-container table{

 width: 100%;
 height: auto;


}



.resident-table-container td {

  margin:auto;
  padding: 1vh 1vh;
  border: 1px solid black;
 }

.resident-table-container thead{

  border: 1px solid black;

}


.resident-table-container th{

  border: 1px solid black;

}
 
.resident-table tbody tr td {
  cursor: pointer;
}
 
/*Individual Resident page css*/

.resident-detail-container  {

  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.resident-side-box{

  width: 50vw;
}
.resident-detail-container div {
  /* border: 1px solid rgb(13, 154, 164); */

  padding: 10px;

}

.verification-window{
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(22, 48, 104); */
  width: 100%;

}

.verification-window div{
  /* border: 1px solid rgb(136, 13, 87); */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.verification-header{

  width: 100%;
}
.verification-buttons{
  width: 50%;
}

.verification-buttons button{
  width: 12.5vw;
  height: 100%;
}
.verification-images-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}


.verification-images-container div  {
   width: 50%;
  /* border: 1px rgb(212, 26, 215) solid; */
  overflow: hidden;

}


.verification-images-container div img{
  width: 100%; /* Set image width to fill the container */
    height: 100%; /* Set image height to fill the container */
    object-fit: cover; /* Scale the image while maintaining aspect ratio to cover the container */
    top: 0; /* Align image to the top */
    left: 0; /* Align image to the left */
    border: 1px black solid;
}
.selfie img{
  position: relative;
  right: 0;
}

.document img{
  position: relative;
  left: 0;
}

.resident-stats-window{
  display: flex;
  flex-direction: column;
  /* border: 1px black solid; */
  height: auto;
}

.resident-stats-window .stat-box{
  display: flex;
  /* border: 1px black solid; */
  flex-direction: column;
  padding: 0 5vw 0 5vw;
}

.resident-stats-window .stat-box h3{
  margin: 0;
}


.detail-section{
  display: flex;
  flex-direction: column;
}


.detail-section button, textarea{


  height: 50%;
  padding:2vh;

}
 
.stat-container{
  /* border: 1px black solid; */
  display: flex;
  height: 70%;
  flex-direction: row;
  justify-content: space-between;
}
.create-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.notifications-unread{
  color: red;
  border: 1px solid red;
}